@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Estilos.css" />


<body>
        <div class="row-cols-xl-3">
            <div class="col-xl-3">
                <partial name="_Cumples" />
            </div>
        </div>
</body>